.contHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 45px;
  padding: 30px 0 30px 0;
  margin: 0px;
}
.space {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
}
.imgLogo {
  width: 186px;
  height: 39px;
}
.contHeaderText {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.headerText {
  font-family: Open;
  font-weight: 700;
  font-size: 1, 5vw;
  text-transform: uppercase;
  color: #191919;
}
.contHeaderImg {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 31px;
}
.imgHeader {
  width: 20.31399917602539;
  height: 20.31399917602539;
  color: #191919;
}
.headerBorder {
  border-bottom: 1px solid #191919;
}
@media screen and (max-width: 1246px) {
  .space {
    gap: 20px;
  }
  .headerText {
    font-size: 1.2vw;
  }
  .contHeaderImg {
    gap: 10px;
  }
}
@media screen and (max-width: 768px) {
  .contHeaderText {
    gap: 5px;
  }
  .imgLogo {
    width: 90px;
    height: auto;
  }
  .imgHeader {
    width: 10px;
    height: 10px;
  }
}
